body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal {
    text-align: center;
    border: 1px solid black;
    padding: 2rem;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

button {
    padding: 1rem 2rem;
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}